.article{
    position: relative;
    padding-top: 150px;
}

.container__article{
  position: relative;
    width: 1290px;
    margin:0 auto;
    padding: 35px 75px 50px 75px;
    background: beige;
    color:red;
   
}