.article{
    position: relative;
}

.container__article{
    position: absolute;
    width: 1290px;
    top: 150px;
    left: 75px;
    padding: 35px 75px 50px 75px;
    background: beige;
    color:red;
   
}